:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

#top-row, #bottom-row {
  margin:0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

nav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  padding: 60px;
  z-index: 10;
}

nav a {
  color: var(--White);
  text-decoration: none;
}

#main-link {
  font-size: 2em;
  margin-right: 20px;
}

#sub-links {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link .line {
  width: 15px;
  height: 2px;
  background-color: var(--White);
  opacity: 0;
  transition: opacity 1s;
}

.link:hover .line {
  opacity: 1;
}

.mbl-menu .link div {
  background-color: var(--Black);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-right-description {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.5em;
  position: relative;
  z-index: 30;
}

#top-row-img {
  padding: 0;
  width: 100%;
  height: 100%;
}

.slide-left-animation {
  animation: image-slide-left 0.8s;
}

@keyframes image-slide-left {
  25% {
    opacity: 0.5;
  }
  40% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right-animation {
  animation: image-slide-right 0.8s;
}

@keyframes image-slide-right {
  25% {
    opacity: 0.5;
  }
  40% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

#image-container {
  object-fit: cover;
  padding: 0;
  max-width: 100%;
}

#top-right-description a {
  color: var(--Black);
  font-weight: 600;
  letter-spacing: 10px;
}

#shop-now #arrow-icon,
#shop-now a {
  text-decoration: none;
  transition: color 0.5s ease, fill 0.4s ease;
}

#shop-now a:hover,
#shop-now #arrow-icon:hover {
  color: var(--Dark-Gray);
  fill: var(--Dark-Gray);
}

#variable-header {
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 30px;
}

p {
  color: var(--Dark-Gray);
  line-height: 20px;
  margin-bottom: 30px;
}

#control-btns {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

#control-btns button {
  background-color: var(--Black);
  width: 70px;
  height: 70px;
  transition: background-color 0.5s;
}

#control-btns button:hover {
  background-color: var(--Very-Dark-Gray);
}

#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

#about-section h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 40px 0 20px;
}

#bottom-right-image,
#bottom-left-image {
  padding: 0px;
}

.menu-btn {
  height: 40px;
  width: 40px;
  background-color: transparent;
  position: fixed;
  top: 30px;
  left: 30px;
}

.mbl-menu {
  display: none;
}

.mbl-menu a {
  color: var(--Black);
  text-decoration: none;
  font-size: 1.3rem;
}

#close-icon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

@keyframes opacity-animation-open {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
    display: none;
  }
}

@keyframes opacity-animation-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.open {
  animation: opacity-animation-open 0.2s ease-in forwards;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--White);
  width: 100%;
  padding: 35px 25px;
  z-index: 100;
}

#image-container {
  position: relative;
  display: inline-block;
}

.modal {
  position: relative;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.open #close-icon {
  z-index: 20;
}

@media (max-width: 1100px) {
  nav{
    background-image: linear-gradient(#414141, transparent);
    z-index: 100;
  }
  #control-btns button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 30px;
    width: 100%;
    background-image: linear-gradient(#414141, transparent);
    justify-content: center;
    z-index: 100;
  }

  #main-link{
    margin:0;
  }

  .mbl-menu {
    width: 100%;
  }

  #control-btns button {
    width: 60px;
    height: 60px;
  }

  #control-btns {
    bottom: 0;
    left: auto;
    right: 0;
  }

  #about-section p {
    padding: 0px 10px 10px;
  }

  #about-section h3 {
    font-size: 0.8em;
    padding: 0px 10px;
  }
}
